/**
 * @fileOverview index page styles
 * @author daiying.zhang
 */

@import "editor.css";
@import "entity.css";

html{ height: 100%; }
body{ font-family: PT Mono,Monaco, Consolas; min-height: 100%; margin: 0; /*white-space: nowrap;*/ }
::selection{background: transparent}
ul{ padding: 0; margin: 0 }
ul li{ list-style: none; }

input[type=radio]{ -webkit-appearance: none; -moz-appearance: none; appearance:none; outline: none;
    width: 16px; height: 16px; background: #B5C4C4; border-radius: 50% }
input[type=radio]:checked{ background: #56BDD7; }
input[type=radio]:before{ display: inline-block; content: " "; background:white;
    width: 8px; height: 8px; position:relative; left: 4px; top: 0px; border-radius: 50%}
input[type=radio]:checked:before{ background: white; }
